@page
@model WineWarehouseManagementSystem.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CheckingRequest[0].CheckDateRequest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckingRequest[0].Reason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckingRequest[0].Account)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckingRequest[0].Product)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CheckingRequest) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CheckDateRequest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Account.AccountId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Origin)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CheckingRequestId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CheckingRequestId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CheckingRequestId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
