@page
@model WineWarehouseManagementSystem.Pages.ProductPages.DeleteModel
@{
    Layout = "_ManagerLayout";
    int? accountId = HttpContext.Session.GetInt32("accountId");
    int? roleId = HttpContext.Session.GetInt32("roleId");
    if (accountId == null || roleId != 2)
    {
        TempData["ErrorMessage"] = "This function is for manager only";
        Response.Redirect("/Error");
    }
}
<style>
    button {
        margin: 4px 233px;
        padding: 15px 30px;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;
        border-radius: 10px;
        display: block;
        border: 0px;
        font-weight: 700;
        box-shadow: 0px 0px 14px -7px #ff5959;
        background-image: linear-gradient(45deg, #ff0000 0%, #ff5959 51%, #ff0000 100%);
        cursor: pointer;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
    }

        button:hover {
            background-position: right center;
            /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
        }

        button:active {
            transform: scale(0.95);
        }
</style>
<h1 style="font-family: Comic San MS; font-size:50px; color:white; font:400; text-align:center;">DELETE PRODUCT</h1>

@if (TempData["Message"] != null)
{
    <h2 style="text-align: center; color: #4CAF50; font-family: Arial, sans-serif;">@TempData["Message"]</h2>
}

<div style="max-width: 600px; margin: 20px auto; padding: 20px; border: 1px solid #ddd; border-radius: 8px; font-family: Arial, sans-serif; background-color:white; box-shadow: rgba(106, 104, 138, 0.19) 0px 10px 20px,
rgba(255, 255, 255, 0.23) 0px 6px 6px;">
    <div style="margin-bottom: 15px;">
        <p><strong>Product Name:</strong> @Model.product.ProductName</p>
        <p><strong>Description:</strong> @Model.product.ProductDescription</p>
        <p><strong>Origin:</strong> @Model.product.Origin</p>
        <p><strong>Category:</strong> @Model.product.Category?.CategoryName</p>
    </div>

    <form method="post" style="text-align: center;">
        <input type="hidden" asp-for="product.ProductId" />
        <button type="submit" style="padding: 10px 20px;">
            Delete
        </button>
    </form>
</div>