@page
@model WineWarehouseManagementSystem.Pages.ProductPages.ViewModel
@{
    Layout = "_ManagerLayout";
}

<div>
    <form method="get" asp-page="" asp-page-handler="SearchByName">
        <input type="text" name="name" placeholder="Please input product name to search"/>
        <button type="submit">Search</button>
    </form>
</div>

@if (Model.ProductList != null && Model.ProductList.Any())
{
    <table>
        <thead>
            <tr>
                <th>Product ID</th>
                <th>Product name</th>
                <th>Product Description</th>
                <th>Origin</th>
                <th>Category name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.ProductList)
            {
                <tr>
                    <td>@product.ProductId</td>
                    <td>@product.ProductName</td>
                    <td>@product.ProductDescription</td>
                    <td>@product.Origin</td>
                    <td>@(product.Category != null ? product.Category.CategoryName : "N/A")</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No products available.</p>
}