@page
@model WineWarehouseManagementSystem.Pages.ProductPages.ViewModel
@{
    Layout = "_ManagerLayout";
}

<div>
    <form method="get" asp-page="" asp-page-handler="SearchByName">
        <input type="text" name="name" placeholder="Please input product name to search"/>
        <button type="submit">Search</button>
    </form>
</div>

@if (Model.ProductList != null && Model.ProductList.Any())
{
    <table style="border: 1px solid black ">
        <thead>
            <tr>
                <th style="border: 1px solid black ">Product ID</th>
                <th style="border: 1px solid black ">Product name</th>
                <th style="border: 1px solid black ">Product Description</th>
                <th style="border: 1px solid black ">Origin</th>
                <th style="border: 1px solid black ">Category name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.ProductList)
            {
                <tr>
                    <td style="border: 1px solid black ">@product.ProductId</td>
                    <td style="border: 1px solid black ">@product.ProductName</td>
                    <td style="border: 1px solid black ">@product.ProductDescription</td>
                    <td style="border: 1px solid black ">@product.Origin</td>
                    <td style="border: 1px solid black ">@(product.Category != null ? product.Category.CategoryName : "N/A")</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No products available.</p>
}