@page
@model WineWarehouseManagementSystem.Pages.RoomPages.ViewShelfModel
@{
    Layout = "_ManagerLayout";
    int? accountId = HttpContext.Session.GetInt32("accountId");
    int? roleId = HttpContext.Session.GetInt32("roleId");
    if (accountId == null || roleId != 2)
    {
        TempData["ErrorMessage"] = "This function is for manager only";
        Response.Redirect("/Error");
    }
}
<style>
    .btnSearch, .btnCreateExport {
        margin: 10px;
        padding: 15px 30px;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;
        border-radius: 10px;
        display: block;
        border: 0px;
        font-weight: 700;
        box-shadow: 0px 0px 14px -7px #93f686;
        background-image: linear-gradient(45deg, #14ae00 0%, #93f686 51%, #14ae00 100%);
        cursor: pointer;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
    }

        .btnSearch:hover, .btnCreateExport:hover {
            background-position: right center;
            /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
        }

        .btnSearch:active .btnCreateExport:active {
            transform: scale(0.95);
        }

    .btnUpdate {
        margin: 10px;
        padding: 15px 30px;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;
        border-radius: 10px;
        display: block;
        border: 0px;
        font-weight: 700;
        box-shadow: 0px 0px 14px -7px #7fddf5;
        background-image: linear-gradient(45deg, #007BFF 0%, #7fddf5 51%, #007BFF 100%);
        cursor: pointer;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
    }

        .btnUpdate:hover {
            background-position: right center;
            /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
        }

        .btnUpdate:active {
            transform: scale(0.95);
        }
</style>
<div style="max-width: 730px; margin: 20px auto;">
    <form method="get" asp-page="" asp-page-handler="SearchByShelfName" style="display: flex; gap: 10px;">
        <input type="text" name="name" placeholder="Please enter the name of shelf to search"
               style="flex: 1; padding: 4px 8px; border: 1px solid #ccc; border-radius: 4px; box-shadow: #979797 0px 2px 8px 0px;font-size: 19px;" />
        <button type="submit" class="btnSearch"
                style="padding: 8px 15px; background-color: #4CAF50; color: white; border: none; border-radius: 4px; cursor: pointer;">
            Search
        </button>
        <a class="btnCreateExport" href="/RoomPages/CreateShelf"
           style="padding: 8px 15px; background-color: #4CAF50; color: white; text-decoration: none; border-radius: 4px; cursor: pointer;">
            Create New Shelf
        </a>
    </form>
</div>

@if (Model.ShelfList != null && Model.ShelfList.Any())
{
    <table style="width: 80%; margin: 15px auto; border-collapse: collapse; font-family: Arial, sans-serif;background-color: white; box-shadow: rgb(14 0 71) 0px 8px 12px, rgb(0 0 0) 0px 5px 12px;">
        <thead>
            <tr style="background-color: #f2f2f2;">
                <th style="padding: 10px; border: 1px solid #ddd;">Shelf Id</th>
                <th style="padding: 10px; border: 1px solid #ddd;">Brewing Room Id</th>
                <th style="padding: 10px; border: 1px solid #ddd;">Shelf Name</th>
                <th style="padding: 10px; border: 1px solid #ddd;">Max Quantity</th>
                <th style="padding: 10px; border: 1px solid #ddd;">Use Quantity</th>
                <th style="padding: 10px; border: 1px solid #ddd;">Operations</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var shelf in Model.ShelfList)
            {
                <tr style="border-bottom: 1px solid #ddd;">
                    <td style="padding: 8px; border: 1px solid #ddd;">@shelf.ShelfId</td>
                    <td style="padding: 8px; border: 1px solid #ddd;">@shelf.ShelfName</td>
                    <td style="padding: 8px; border: 1px solid #ddd;">@shelf.BrewingRoomId</td>
                    <td style="padding: 8px; border: 1px solid #ddd;">@shelf.MaxQuantity</td>
                    <td style="padding: 8px; border: 1px solid #ddd;">@shelf.UseQuantity</td>
                    <td style="padding: 8px; border: 1px solid #ddd;">
                        <form method="get" asp-page="/RoomPages/UpdateShelf" style="margin: 0;">
                            <input type="hidden" name="id" value="@shelf.ShelfId" />
                            <button type="submit" class="btnUpdate">
                                Update
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p style="text-align: center; color: gray;">No Export available.</p>
}


